<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
        <h1>Document has been submitted and sent for signature. Please check your email address.</h1>
    </div>
</body>
</html>
